doctype html
html
  head
    title Kobe Ryan | Portfolio
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono|Vollkorn+SC&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='../css/style.css')
  body
    div.one
      div.title
        h2 Kobe Ryan: Fullstack Developer
    nav.two
      a.anchor(id='about-me', href='#', onclick='handleClick()') About Me
      a(class='anchor', target="_blank" ,href="../public/resume.pdf") Resume
      a(class='anchor', id='contact', href="#", onclick='handleClick()') Contact
    a(id='met-museum',href="#", onclick='handleClick()', class='three') Met Museum Artwork Organizer
    a(class='four', id='inkline', href="#", onclick='handleClick()') Inkline
    div.five
      h2#center-head About Me
      p#center-para Full-stack Developer with a knack for producing ideas and collaborating.
      p Click on the projects around the border to get to know a bit more about my work.
      a#center-link
        img#center-image
    a(id='shoe-lace-simulator', href="#", onclick='handleClick()', class='six') Shoe-Lace Simulator
    a(id='munch-my-lawn', href="#", onclick='handleClick()', class='seven')  Munch My Lawn
    div.eight
      h2.footer Technologies:
      h3.tech TypeScript, JavaScript, React, Python, SASS, REST, API,
    a(class='nine', href='https://www.piet-mondrian.org/')
  script(src='../js/script.js')
